body {
   color: #00ffff;
   background: black;
}
em { font-style: normal;
   color: #00ff00;
   font-variant: small-caps}
span.courier { font-family: courier; font-size: smaller }
span.dead { color: #ff3333 }
span.red { color: #ff3333 }
span.inac { color: #ffff00 }
span.npc { font-size: smaller; color: #ff00ff }
span.nb { color: yellow;
   font-variant: small-caps}
span.pc { font-size: smaller; color: #00ff00 }
td.colhead { background: gray; text-align: center }
span.larger { font-size: larger }
span.smaller { font-size: smaller }
a:link { color: #8fbc8f }
a:visited { color: #dfbcdf }
a:active { color: yellow }
blockquote { background: gray }
span.t0 { border-left: solid;
   border-color: orange;
   padding-left: 0.2em;
   font-size: smaller;
   color: orange }
span.t1 { border-left: solid;
   border-color: #ff00ff;
   padding-left: 0.2em;
   font-size: smaller;
   color: #ff00ff }
span.t2 { border-left: solid;
   border-color: #00ff00;
   padding-left: 0.2em;
   font-size: smaller;
   color: #00ff00 }
span.t3 { border-left: solid;
   border-color: red;
   padding-left: 0.2em;
   font-size: smaller;
   color: red }
span.t4 { border-left: solid;
   border-color: #aaaa00;
   padding-left: 0.2em;
   font-size: smaller;
   color: #aaaa00 }
span.t5 { border-left: solid;
   border-color: #ffffff;
   padding-left: 0.2em;
   font-size: smaller;
   color: #ffffff }
span.t6 { border-left: solid;
   border-color: #d7bbd4;
   padding-left: 0.2em;
   font-size: smaller;
   color: #d7bbd4 }
span.t7 { border-left: solid;
   border-color: #11bb11;
   padding-left: 0.2em;
   font-size: smaller;
   color: #11bb11 }
